* {
    box-sizing: border-box;
      margin: 0;
    padding: 0;
}


header {
    background-color: #45304b;
    color: #ffffff;
    height: 105px;
}

header h1 {
    margin: 0 0 10px 0;
    padding: 12px 0px 0px 8%; /* TRouBLe */
}

header nav {
    float: left;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    text-transform:uppercase;
    background-color: #8d7693;
    color: #ffffff;
    height: 30px;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px 10px 27px 8%;
}

header a {
    color: #ffffff;
    margin-right: 25px;
    text-decoration: none;
}

header a:hover {
    height: 30px;
    color: #FFF0F5;
}

header a:active {
    text-decoration: underline;
}

body {
    clear: both;
    font-size: 12px;
}

p {
    font-family: helvetica, arial, sans-serif;
    line-height: 22px;
    margin-bottom: 12px;
}

article {
    clear: both;
    padding: 0 10px 0 10px;
    margin: 2% 8% 2% 8%;
}

article h1 {
     font-size: 24px;
    color:#4D067D;
    padding-top:15px;
    padding-bottom: 20px;
    text-align: center;
}

article img {
    border: 0px solid #ffffff;
    padding-right: 4%;
    padding-bottom: 2%;
    float: left;
}

footer {
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
    background-color: #8d7693;
    color: #dddddd;
    width: 100%;
    margin-bottom: -16px;
}